*{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    background-color: white;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 200px 200px 200px 200px;
    gap: 10px;
}

.item1{
    background-color: rgb(253, 179, 237);
    /* grid-column: 1 / 5; */
}
.item2{
    background-color:rgb(253, 179, 237);
}
.item3{
    background-color:rgb(253, 179, 237);
}
.item4{
    background-color:rgb(253, 179, 237);
}
.item5{
    background-color: rgb(207, 194, 11);
}
.item6{
    background-color: rgb(184, 11, 11);
}
.item7{
    background-color: rgb(247, 125, 11);
}
.item8{
    background-color: rgb(72, 33, 180);
}
.item9{
    background-color: rgb(36, 205, 228);
}
.item10{
    background-color: rgb(132, 19, 224);
}
.item11{
    background-color: rgb(224, 19, 19);
}
.item12{
    background-color: rgb(189, 230, 11);
}

