*{
    padding: 0;
    margin: 0;
    font-family: 'Plain', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 75%;
    margin: auto;
}

/* Header */
.headSection{
    background-color: #171819;
    padding: 15px;
    position: fixed;
    width: 100%;
    z-index: 9;
}

/* logo */
.logo{
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.5s;
}
.logo:hover{
    color: #f13a11;
    transform: 0.5s;
}

/* Nevbar */
.navbar{
    display: flex;
    justify-content: space-between;
}
.navbar .navbar_div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar nav a{
    color: #fff;
    font-size: 15px;
    padding: 0 20px;
    text-decoration: none;
    transition: 0.5s;
}
.navbar nav a:hover{
    color: #f13a11;
    transition: 0.5s;
}

/* Icon */
.h_icon{
    color: #fff;
    font-size: 18px;
    padding: 0 11px;
    transition: 0.5;
}

.facbook:hover{
    color: #1877F2;
    transition: 0.5s;
}
.twitter:hover{
    color: #1DA1F2;
    transition: 0.5s;
}
.insta:hover{
    color: plum;
    transition: 0.5s;
}

/* Baneer */
.banner{
    background-image: url(image/first_picture.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 200px 0;
    text-align: center;
    color: #fff;
    position: relative;
}

.banner h1, .banner h6, .banner a{
    position: relative;
    z-index: 2;
}

.banner h6{
    color: #909090;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
}

.banner h1{
    font-size: 48px;
    letter-spacing: -3px;
    margin: 30px 0px 50px 0px;
    font-weight: bold;
}

.banner::before{
    content: "";
    background-color: #171819;
    opacity: 0.85;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.button1{
    color: #fff;
    text-decoration: none;
    padding: 14px 24px;
    font-size: 14px;
    letter-spacing: 0.5px;
    border: 1px solid transparent;
    transition: 0.5s;
}

.button1:hover{
    color: #f13a11;
    transition: 0.5s;
}

.button2{
    color: #f13a11;
    text-decoration: none;
    padding: 14px 24px;
    font-size: 14px;
    letter-spacing: 0.5px;
    border: 1px solid #f13a11;
    transition: 0.5s;
}

.button2:hover{
    color: #f13a11;
    background: #fff;
    transition: 0.5s;
    border: 1px solid #fff;
}
/* Schedule */
@media (min-width: 1200px) {
   .container {
        max-width: 1025px;
    }
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.container{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

.schedule{
    background-color: #171819;  
}
.section{
    padding: 112px 0;
}
section{
    display: block;
}   

.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.text-center{
    text-align: center !important;
}

.col-12, .col-lg-12, .col-md-12{
    position: relative;
    width: 100px;
    padding-left: 15px;
    padding-right: 15px;
}

h6{
    color: #909090;
    font-size: 22px;
    line-height: inherit;
    margin: 0;
}

[data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 1;
    transform: translateZ(0);
}

[data-aos][data-aos][data-aos-easing=ease], body[data-aos-easing=ease] [data-aos] {
    transition-timing-function: ease;
}
[data-aos][data-aos][data-aos-duration="800"], body[data-aos-duration="800"] [data-aos] {
    transition-duration: .8s;
}
[data-aos^=fade][data-aos^=fade] {
    /* opacity: 0; */
    transition-property: opacity, transform;
}
.text-white{
    color: #fff !important;
}

h2{
    font-size: 36px;
    font-weight: bold;
    letter-spacing: -2px;
    margin-bottom: .5rem;
    line-height: normal;
}


[data-aos][data-aos][data-aos-delay="200"].aos-animate, body[data-aos-delay="200"] [data-aos].aos-animate {
    transition-delay: .2s;
}
[data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 1;
    transform: translateZ(0);
}
[data-aos][data-aos][data-aos-delay="200"], body[data-aos-delay="200"] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-easing=ease], body[data-aos-easing=ease] [data-aos] {
    transition-timing-function: ease;
}
[data-aos][data-aos][data-aos-duration="800"], body[data-aos-duration="800"] [data-aos] {
    transition-duration: .8s;
}
[data-aos^=fade][data-aos^=fade] {
    /* opacity: 0; */
    transition-property: opacity, transform;
}
.py-5 {
    padding-top: 3rem !important;
}

.py-5 {
    padding-bottom: 3rem !important;
}

.schedule-table{
    display: block;
    text-align: center;
    border: 0;
    border-bottom: 0;
    /* text-transform: uppercase; */
}

.table-responsive {
    width: 100%;
    overflow-x: auto;
}

.table{
    margin-bottom: 1rem;
    background-color: transparent;
}

table{
    border-collapse: collapse;
    text-indent: initial;
    border-spacing: 2px;
}

.table, .thead-light th{
    background: #f13a11;
    color: #fff;
    border: 1px solid black
}

.table thead th {
    vertical-align: bottom;
}
.table th {
    padding: 1rem;
}
th{
    text-align: inherit;
    display: table-cell;
    font-weight: bold;
    background-color: #000;
}

.schedule-table span {
    color: gray;
    font-size: 14px;
    display: block;
}

.table td {
    padding: 1rem;
    vertical-align: top;
}

.table-bordered td, .table-bordered th {
    border: 1px solid #212122;
}

td {
    display: table-cell;
    unicode-bidi: isolate;
    background-color: #171819;
}

.schedule-table tr td:first-child {
    background: #f13a11;
    border: 1px solid #212122;
    color: #fff;
}


/* About  */
.aboutSection{
    background-color: #171819;
    padding: 80px 0px;
}
.aboutFlex{
    display: flex;
    width: 60%;
    margin: auto;
}
.aboutSection .div1{
    width: 45%; 
    margin-right: 50px;
}
.aboutSection .div2{
    padding-left: 56px;
}
.aboutSection .innerdiv{
    border-left: 2px solid #ffffff0d;
    padding-left: 56px;
}
.aboutSection h2{
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 16px;
    letter-spacing: -2px;
}
.aboutSection h6{
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 24px;
    line-height: 1.5em;
}
.aboutSection .aboutParagraph{
    margin-bottom: 40px;
}
.aboutSection .aboutParagraph .paraSpan{
    color: #404040;
    transition: 0.5s;
}
.paragraph{
    color: #666262;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5em;
}
.aboutSection .aboutParagraph .paraSpan:hover{
    color: #f13a11;
    cursor: pointer;
    transition: 0.5s;
}
.aboutSection .buttonAbout{
    background-color: #f13a11;
    color: #fff;
    text-decoration: none;
    width: 100%;
    padding: 14px 102px;
    text-align: center;
    letter-spacing: 0.5px;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 2px;
    transition: 0.5s;
}
.aboutSection .buttonAbout:hover{
    color: #f13a11;
    background-color: #fff;
    transition: 0.5s;
}
.aboutSection .strongTag{
    color: #fff;
}

.div_p_1, .div_p_3, .div_p_5{
    margin-bottom: 16px;
}

.div_p_2, .div_p_4{
    margin-bottom: 5px;
}

/* Testimonial CSS Start */
.t_section{
    background-color: #f9f9f9;
    padding: 112px 0px;
}
.t_section .t_title{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 1.5rem;
    letter-spacing: -2px;
}
.t_section .paragraph, a{
    color: #404040;
    text-decoration: none;
    font-weight: 600;
    transition: 0.5s;
}
.t_section .t_flex{
    display: flex;
    justify-content: space-between;
}
.t_section .t_img img{
    max-width: 100%;
}
.t_section .t_div1{
    padding: 0px 15px;
    margin: 0px 24px;
    align-self: center;
}
.t_section .t_div2{
    padding: 0px 15px;
    margin: 0px 0px 0px 24px;
    align-self: center;
}
.t_section .t_div3{
    padding: 0px 15px;
    margin: 0px 24px 0px 0px;
    align-self: center;
}
.t_section .t_div1 .paragraph{
    margin-bottom: 16px;
}
.t_section .t_info {
    background: #fff;
    border-radius: 0 0 2px 2px;
    box-shadow: 6px 0 38px rgba(20, 20, 20, 0.10);
    padding: 20px;
    position: relative;
}
.t_section .t_info h3{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 3px;
    letter-spacing: -1px;
}
.t_section .t_info .position{
    font-size: 16px;
    color: #212529;
    opacity: 0.85;
}
.t_section .t_info .t_icon{
    padding: 0;
    list-style-type: none;
    position: absolute;
    top: 20px;
    right: 20px;
}
.t_section .t_info .t_icon li a i{
    color: #666262;
    font-size: 18px;
    font-weight: 600;
    margin: 6px 10px;
    transition: 0.5s;
}
.facbook_t:hover{
    color: #1877F2;
    transition: 0.5s;
}
.twitter_t:hover{
    color: #1DA1F2;
    transition: 0.5s;
}
.insta_t:hover{
    color: plum;
    transition: 0.5s;
}